# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/*
!media/.gitkeep

# Ambiente virtual
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Cobertura de testes
htmlcov/
.coverage
coverage.xml

# Variáveis de ambiente sensíveis
.env.local
.env.production
*.env
